@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.contenedor {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.container__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  align-content: center;
}

.max-titulo, .titulo, .sub-titulo, .mini-titulo {
  font-family: sans-serif;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.texto, a, span, li, input, label, strong, i, b, em {
  font-family: sans-serif;
  font-size: 1em;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.max-titulo {
  font-size: 2.5em;
}

.titulo {
  font-size: 2em;
}

.sub-titulo {
  font-size: 1.5em;
}

.mini-titulo {
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

header {
  width: 45px;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8000;
  background-color: rgb(0, 0, 0);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
}
header:hover {
  width: 240px;
}
header:hover .sideMenu .sideMenuimg {
  opacity: 1;
}
header:hover .sideMenu .sideMenu__contact {
  opacity: 1;
}
header:hover .sideMenu .sideMenuimg .texto {
  opacity: 1;
}
header:hover .sideMenu .sideMenuimg img {
  opacity: 1;
}
header .sideMenu {
  display: flex;
  width: 100%;
  margin: auto;
  height: 100dvh;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
header .sideMenu .sideMenuimg {
  width: 90%;
  max-width: 100%;
  margin: auto;
  height: auto;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}
header .sideMenu .sideMenuimg img {
  width: 110px;
  height: 110px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
header .sideMenu .sideMenuimg .texto {
  text-align: center;
  font-size: 0.9rem;
  margin: 8px auto;
  color: rgba(255, 255, 255, 0.3333333333);
  text-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}
header .sideMenu .menu {
  width: 100%;
  height: 50%;
  margin: auto;
  overflow: hidden;
}
header .sideMenu .menu .menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: space-around;
  gap: 0.7rem;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: overflow-y 0.3s;
}
header .sideMenu .menu .menu__list::-webkit-scrollbar {
  width: 12px;
}
header .sideMenu .menu .menu__list::-webkit-scrollbar-track {
  background-color: transparent;
}
header .sideMenu .menu .menu__list::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(255, 255, 255, 0.8); /* creates padding around scroll thumb */
}
header .sideMenu .menu .menu__list .menu__list-item {
  list-style: none;
  align-self: center;
  width: 100%;
  height: auto;
  padding-left: 5px;
}
header .sideMenu .menu .menu__list .menu__list-item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 100;
  text-transform: capitalize;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
  padding: 10px 10px;
  border-radius: 35px 0px 0px 35px;
}
header .sideMenu .menu .menu__list .menu__list-item a:hover {
  background-color: rgba(255, 255, 255, 0.1333333333);
}
header .sideMenu .menu .menu__list .menu__list-item a i {
  font-size: 1.4rem;
  margin-right: 14px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8666666667);
}
header .sideMenu .sideMenu__contact {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  opacity: 0;
  transition: display 0.3s;
  text-wrap: nowrap;
}
header .sideMenu .sideMenu__contact a {
  font-size: 1rem;
  display: block;
  margin: auto;
  width: 85%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3333333333);
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
header .sideMenu .sideMenu__contact a i {
  margin-right: 5px;
}

main {
  margin-left: 45px;
}
main .banner {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100dvh;
  margin: auto;
  position: relative;
}
main .banner .banner__section-img {
  width: 90%;
  height: 85%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .banner .banner__section-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
main .banner::before {
  content: "";
  width: 90%;
  height: 85%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
main .banner .banner__section-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83%;
  z-index: 200;
  border: 4px double rgba(141, 94, 0, 0.5);
  padding: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
}
main .banner .banner__section-txt .max-titulo {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Pt Serif", serif;
  font-weight: 200;
  text-transform: capitalize;
  font-style: normal;
  width: 100%;
}
main .banner .banner__section-txt .titulo {
  font-size: 2.1rem;
  margin-bottom: 10px;
  font-family: "Pt Serif", serif;
  font-weight: 200;
  font-style: normal;
  text-transform: capitalize;
  width: 100%;
}
main .aboutUs {
  padding-left: 0px;
  margin: auto;
  margin-top: 25px;
  width: 100%;
  height: auto;
}
main .aboutUs .titulo {
  margin-left: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  text-wrap: pretty;
  padding-bottom: 10px;
}
main .aboutUs .titulo::after {
  content: "";
  position: absolute;
  width: 30%;
  max-width: 100px;
  height: 3px;
  border-radius: 100px;
  background-color: rgb(141, 94, 0);
  bottom: 0;
  left: 0;
}
main .aboutUs .titulo::before {
  content: "";
  position: absolute;
  width: 70%;
  max-width: 400px;
  height: 3px;
  border-radius: 100px;
  background-color: rgba(141, 94, 0, 0.4);
  bottom: 0;
  left: 0;
}
main .aboutUs .aboutUs__info {
  padding: 5px;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
main .aboutUs .aboutUs__info .aboutUs__img {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.0666666667);
  position: relative;
  margin-bottom: 10px;
}
main .aboutUs .aboutUs__info .aboutUs__img img {
  width: 100%;
  max-width: 400px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: blur(6px);
  transition: filter 0.3s;
}
main .aboutUs .aboutUs__info .aboutUs__img img:hover {
  filter: blur(0px);
}
main .aboutUs .aboutUs__info .aboutUs__txt {
  position: relative;
}
main .aboutUs .aboutUs__info .aboutUs__txt .sub-titulo {
  margin-bottom: 8px;
  text-transform: capitalize;
  text-align: left;
}
main .aboutUs .aboutUs__info .aboutUs__txt .texto {
  text-align: left;
  line-height: 22px;
  margin-bottom: 20px;
}
main .aboutUs .aboutUs__info .aboutUs__txt .texto strong {
  text-shadow: 1px 2px 7px rgb(255, 255, 255);
}
main .aboutUs .aboutUs__info .aboutUs__txt a {
  margin-top: -20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #753f00;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 700;
  transition: background-color 0.3s;
  border: 1px solid rgb(255, 255, 255);
}
main .aboutUs .aboutUs__info .aboutUs__txt a:hover {
  background-color: rgba(117, 63, 0, 0.6705882353);
}
main .gallery {
  margin-top: 25px;
  background-color: rgba(141, 94, 0, 0.1);
  padding-left: 10px;
}
main .gallery .titulo {
  margin-bottom: 15px;
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  text-wrap: pretty;
  padding-bottom: 10px;
}
main .gallery .titulo::after {
  content: "";
  position: absolute;
  width: 30%;
  max-width: 100px;
  height: 3px;
  border-radius: 100px;
  background-color: rgb(141, 94, 0);
  bottom: 0;
  left: 0;
}
main .gallery .titulo::before {
  content: "";
  position: absolute;
  width: 70%;
  max-width: 400px;
  height: 3px;
  border-radius: 100px;
  background-color: rgba(141, 94, 0, 0.4);
  bottom: 0;
  left: 0;
}
main .gallery .texto {
  line-height: 22px;
  margin-bottom: 15px;
}
main .gallery .swiper:hover {
  z-index: 8001;
}
main .gallery .swiper .gallery__slider {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}
main .gallery .swiper .gallery__slider .gallery__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100dvw;
  max-width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8666666667);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
}
main .gallery .swiper .gallery__slider .gallery__modal i.close {
  position: absolute;
  top: 10px;
  right: 14px;
  display: block;
  font-size: 1.7rem;
  cursor: pointer;
  transition: color 0.5s;
  z-index: 100;
  opacity: 0;
}
main .gallery .swiper .gallery__slider .gallery__modal i.close:hover {
  color: rgba(255, 255, 255, 0.8);
}
main .gallery .swiper .gallery__slider .gallery__modal i.left {
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;
  font-size: 1.7rem;
  cursor: pointer;
  color: rgb(141, 94, 0);
  transition: color 0.5s;
  z-index: 100;
  opacity: 0;
}
main .gallery .swiper .gallery__slider .gallery__modal i.left:hover {
  color: #753f00;
}
main .gallery .swiper .gallery__slider .gallery__modal i.right {
  position: absolute;
  top: 50%;
  right: 5px;
  display: block;
  font-size: 1.7rem;
  cursor: pointer;
  z-index: 10000000;
  color: rgb(141, 94, 0);
  transition: color 0.5s;
  opacity: 0;
}
main .gallery .swiper .gallery__slider .gallery__modal i.right:hover {
  color: #753f00;
}
main .gallery .swiper .gallery__slider .gallery__modal .titulo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 100;
  opacity: 0;
}
main .gallery .swiper .gallery__slider .gallery__modal .img-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
}
main .gallery .swiper .gallery__slider .active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
main .gallery .swiper .gallery__slider .active i.close,
main .gallery .swiper .gallery__slider .active i.left,
main .gallery .swiper .gallery__slider .active i.right,
main .gallery .swiper .gallery__slider .active .titulo,
main .gallery .swiper .gallery__slider .active .img-modal {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 1s;
}
main .gallery .swiper .gallery__slider .gallery__container .gallery__item {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 200px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}
main .gallery .swiper .gallery__slider .gallery__container .gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: grayscale(1);
  opacity: 0.6;
  transition: filter 0.3s;
  transition: opacity 0.3s;
}
main .gallery .swiper .gallery__slider .gallery__container .gallery__item img:hover {
  opacity: 1;
  filter: grayscale(0);
}
main .gallery .swiper .gallery__slider .swiper-button-next, main .gallery .swiper .gallery__slider .swiper-button-prev {
  color: #753f00;
  z-index: 10;
}
main .gallery .swiper .gallery__slider .swiper-pagination-bullet-active {
  background-color: #753f00;
}
main .gallery .swiper .gallery__slider .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5333333333);
}
main .service {
  width: 100%;
  margin-top: 25px;
  height: auto;
  margin: auto;
  padding: 9px;
}
main .service .titulo {
  margin-bottom: 15px;
  text-transform: uppercase;
  position: relative;
  text-wrap: pretty;
  padding-bottom: 10px;
}
main .service .titulo::after {
  content: "";
  position: absolute;
  width: 30%;
  max-width: 100px;
  height: 3px;
  border-radius: 100px;
  background-color: rgb(141, 94, 0);
  bottom: 0;
  left: 0;
}
main .service .titulo::before {
  content: "";
  position: absolute;
  width: 70%;
  max-width: 400px;
  height: 3px;
  border-radius: 100px;
  background-color: rgba(141, 94, 0, 0.4);
  bottom: 0;
  left: 0;
}
main .service .texto {
  line-height: 22px;
  margin-bottom: 15px;
}
main .service .service__container {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 22px;
}
main .service .service__container .service-item {
  width: 100%;
  height: 330px;
  overflow: hidden;
  padding: 8px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 6px;
  border-radius: 10px;
  position: relative;
  interpolate-size: allow-keywords;
  transition: box-shadow 0.6s;
  transition: height 0.6s;
}
main .service .service__container .service-item:has(input[type=checkbox]:checked) {
  interpolate-size: allow-keywords;
  height: auto;
  box-shadow: none;
}
main .service .service__container .service-item:has(input[type=checkbox]:checked) .window-shadow {
  width: 0;
  background-image: none;
  height: 0;
}
main .service .service__container .service-item:has(input[type=checkbox]:checked) .arrow {
  transform: rotate(-30deg);
}
main .service .service__container .service-item .window-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0.3333333333), black);
  z-index: 100;
  transition: background-image 0.6s;
  transition: height 0.6s;
}
main .service .service__container .service-item .arrow {
  z-index: 150;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  padding: 4px;
  cursor: pointer;
  background-color: rgba(117, 62, 0, 0.5254901961);
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s;
}
main .service .service__container .service-item input[type=checkbox] {
  position: absolute;
  z-index: 150;
  display: none;
  width: 100%;
}
main .service .service__container .service-item .sub-titulo {
  color: #753f00;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: bolder;
  position: relative;
  font-weight: 600;
  padding-bottom: 9px;
}
main .service .service__container .service-item .sub-titulo::before {
  content: "";
  width: 35%;
  max-width: 180px;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 3px 0px 5px 3px rgba(117, 62, 0, 0.6235294118);
}
main .service .service__container .service-item .texto strong {
  text-shadow: 3px 0px 6px #fff;
}
main .service .service__container .service-item ol {
  margin-left: 15px;
}
main .service .service__container .service-item ol li {
  width: 100%;
  margin-bottom: 7px;
  line-height: 22px;
}
main .service .service__container .service-item ol li i {
  font-weight: 700;
  color: rgb(141, 94, 0);
}
main .service .service__container .service-item a {
  display: inline-block;
  margin: 10px auto;
  background-color: #753f00;
  padding: 10px 6px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: capitalize;
  transition: box-shadow 0.3s;
}
main .service .service__container .service-item a:hover {
  box-shadow: 0px 0px 10px 5px #753f00;
}
main .contact {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 9px;
  margin-top: 20px;
}
main .contact .titulo {
  margin-bottom: 15px;
  text-transform: uppercase;
  position: relative;
  text-wrap: pretty;
  font-size: 1.9rem;
  padding-bottom: 10px;
}
main .contact .titulo::after {
  content: "";
  position: absolute;
  width: 30%;
  max-width: 100px;
  height: 3px;
  border-radius: 100px;
  background-color: rgb(141, 94, 0);
  bottom: 0;
  left: 0;
}
main .contact .titulo::before {
  content: "";
  position: absolute;
  width: 70%;
  max-width: 400px;
  height: 3px;
  border-radius: 100px;
  background-color: rgba(141, 94, 0, 0.4);
  bottom: 0;
  left: 0;
}
main .contact .texto {
  line-height: 22px;
  margin-bottom: 15px;
}
main .contact form {
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1333333333);
  padding: 10px;
}
main .contact form .form__container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
main .contact form .form__container .form__flex-item {
  width: 100%;
}
main .contact form .form__container .form__flex-item label {
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 100;
  letter-spacing: 1px;
  display: block;
  margin: 8px auto;
  color: rgba(255, 255, 255, 0.6);
}
main .contact form .form__container .form__flex-item input, main .contact form .form__container .form__flex-item textarea {
  background-color: transparent;
  width: 200px;
  outline: none;
  border: none;
  font-family: sans-serif;
  border-bottom: 1px solid rgb(255, 255, 255);
  field-sizing: content;
  resize: none;
  margin: auto;
  padding: 8px 0px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  transition: border-bottom 0.5s;
}
main .contact form .form__container .form__flex-item input::-moz-placeholder, main .contact form .form__container .form__flex-item textarea::-moz-placeholder {
  text-transform: uppercase;
  font-size: 0.7rem;
}
main .contact form .form__container .form__flex-item input::placeholder, main .contact form .form__container .form__flex-item textarea::placeholder {
  text-transform: uppercase;
  font-size: 0.7rem;
}
main .contact form .form__container .form__flex-item input:focus, main .contact form .form__container .form__flex-item input:valid, main .contact form .form__container .form__flex-item textarea:focus, main .contact form .form__container .form__flex-item textarea:valid {
  border-bottom: 1px solid #753f00;
  transition: all 0.3s;
}
main .contact form .form__container .form__flex-item button {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 9px;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 7px 12px;
  background-color: #452501;
  color: rgb(255, 255, 255);
  border: none;
  margin-top: 12px;
  font-weight: bold;
  transition: all 0.4s;
}
main .contact form .form__container .form__flex-item button:hover {
  background-color: #231300;
}

footer {
  margin-top: 25px;
  margin-left: 45px;
  height: auto;
  background-image: linear-gradient(#000, rgba(150, 75, 0, 0.21));
}
footer .contenedor {
  width: 95%;
  margin: auto;
  text-align: center;
}
footer .contenedor .container__flex {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  padding: 8px;
}
footer .contenedor .container__flex .footer__item {
  width: 100%;
}
footer .contenedor .container__flex .footer__item .mini-titulo {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  padding-bottom: 10px;
}
footer .contenedor .container__flex .footer__item .mini-titulo::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #753f00;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
}
footer .contenedor .container__flex .footer__item .mini-titulo::before {
  content: "";
  width: 40%;
  height: 2px;
  border-radius: 5px;
  background-color: rgb(141, 94, 0);
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}
footer .contenedor .container__flex .footer__item .footer-icon, footer .contenedor .container__flex .footer__item .footer-contact, footer .contenedor .container__flex .footer__item a {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
footer .contenedor .container__flex .footer__item .footer-icon, footer .contenedor .container__flex .footer__item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  transition: color 0.3s;
}
footer .contenedor .container__flex .footer__item .footer-icon:hover, footer .contenedor .container__flex .footer__item a:hover {
  color: rgba(255, 255, 255, 0.6666666667);
}
footer .contenedor .container__flex .footer__item .footer-contact {
  letter-spacing: 2px;
}
footer .contenedor .copy {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  padding: 10px 5px;
}

@media screen and (min-width: 360px) {
  main .service .service__container .service-item .arrow {
    right: 10px;
    top: 30px;
  }
  main .contact form .form__container {
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  main .contact form .form__container .form__flex-item label {
    font-size: 1.1rem;
  }
  main .contact form .form__container .form__flex-item input, main .contact form .form__container .form__flex-item textarea {
    display: block;
    background-color: transparent;
    width: 75dvw;
    outline: none;
    border: none;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(255, 255, 255);
    field-sizing: content;
    resize: none;
    padding: 8px 0px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    transition: border-bottom 0.5s;
  }
  main .contact form .form__container .form__flex-item input::-moz-placeholder, main .contact form .form__container .form__flex-item textarea::-moz-placeholder {
    text-transform: uppercase;
    font-size: 0.7rem;
  }
  main .contact form .form__container .form__flex-item input::placeholder, main .contact form .form__container .form__flex-item textarea::placeholder {
    text-transform: uppercase;
    font-size: 0.7rem;
  }
  main .contact form .form__container .form__flex-item input:focus, main .contact form .form__container .form__flex-item input:valid, main .contact form .form__container .form__flex-item textarea:focus, main .contact form .form__container .form__flex-item textarea:valid {
    border-bottom: 1px solid #753f00;
    transition: all 0.3s;
  }
  main .contact form .form__container .form__flex-item button {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 9px;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 7px 12px;
    background-color: #452501;
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 12px;
    font-weight: bold;
    transition: all 0.4s;
  }
  main .contact form .form__container .form__flex-item button:hover {
    background-color: #231300;
  }
}
@media screen and (min-width: 480px) {
  main .banner {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100dvh;
    margin: auto;
    position: relative;
  }
  main .banner .banner__section-img img {
    -o-object-position: left;
       object-position: left;
  }
  main .banner .banner__section-txt {
    padding: 10px;
  }
  main .banner .banner__section-txt .max-titulo {
    font-size: 5rem;
    margin-bottom: 10px;
    font-family: "Pt Serif", serif;
    font-weight: 200;
    text-transform: capitalize;
    font-style: normal;
    width: 100%;
  }
  main .banner .banner__section-txt .titulo {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: "Pt Serif", serif;
    font-weight: 200;
    font-style: normal;
    text-transform: capitalize;
    width: 100%;
  }
  main .aboutUs .titulo {
    font-size: 2.3rem;
  }
  main .aboutUs .aboutUs__info .aboutUs__img {
    border: 5px solid rgba(117, 62, 0, 0.631372549);
    position: relative;
  }
  main .aboutUs .aboutUs__info .aboutUs__img img {
    height: 300px;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt {
    position: relative;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt .sub-titulo {
    font-size: 1.7rem;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt .texto {
    font-size: 1.2rem;
    line-height: 25px;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt a {
    font-size: 1.2rem;
    line-height: 25px;
  }
  main .gallery .titulo {
    font-size: 2.3rem;
  }
  main .gallery .texto {
    line-height: 25px;
    font-size: 1.2rem;
  }
  main .service .titulo {
    font-size: 2.3rem;
  }
  main .service .texto {
    line-height: 25px;
    font-size: 1.2rem;
  }
  main .service .service__container .service-item .sub-titulo {
    font-size: 1.7rem;
  }
  main .service .service__container .service-item .texto {
    font-size: 1.2rem;
    line-height: 25px;
  }
  main .service .service__container .service-item ol li {
    font-size: 1.2rem;
    line-height: 25px;
  }
  main .service .service__container .service-item a {
    font-size: 1.2rem;
    line-height: 25px;
  }
  main .contact .titulo {
    font-size: 2.3rem;
  }
  main .contact .texto {
    font-size: 1.2rem;
    line-height: 25px;
  }
  main .contact form .form__container .form__flex-item label {
    font-size: 1.2rem;
  }
  main .contact form .form__container .form__flex-item input, main .contact form .form__container .form__flex-item textarea {
    font-size: 1.2rem;
  }
  main .contact form .form__container .form__flex-item button {
    font-size: 1.2rem;
  }
  footer .contenedor .container__flex .footer__item .mini-titulo {
    font-size: 1.2rem;
  }
  footer .contenedor .container__flex .footer__item .footer-icon, footer .contenedor .container__flex .footer__item .footer-contact, footer .contenedor .container__flex .footer__item a {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  footer .contenedor .copy {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  main .banner .banner__section-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .banner .banner__section-txt {
    padding: 10px;
  }
  main .banner .banner__section-txt .max-titulo {
    font-size: 8rem;
  }
  main .banner .banner__section-txt .titulo {
    font-size: 3.2rem;
  }
  main .aboutUs .titulo {
    font-size: 2.6rem;
  }
  main .aboutUs .aboutUs__info {
    align-content: center;
  }
  main .aboutUs .aboutUs__info:nth-child(2) .aboutUs__img {
    order: 2;
  }
  main .aboutUs .aboutUs__info .aboutUs__img {
    width: 45%;
    height: 80dvh;
  }
  main .aboutUs .aboutUs__info .aboutUs__img img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt {
    width: 50%;
    position: relative;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt .sub-titulo {
    font-size: 2rem;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt .texto {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .aboutUs .aboutUs__info .aboutUs__txt a {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .gallery .titulo {
    font-size: 2.6rem;
  }
  main .gallery .texto {
    padding: 8px;
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .service .titulo {
    font-size: 2.6rem;
  }
  main .service .texto {
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 25px;
  }
  main .service .service__container {
    gap: 30px;
  }
  main .service .service__container .service-item {
    width: 45%;
  }
  main .service .service__container .service-item .sub-titulo {
    font-size: 2rem;
  }
  main .service .service__container .service-item .texto {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .service .service__container .service-item ol li {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .service .service__container .service-item a {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .contact .titulo {
    font-size: 2.6rem;
  }
  main .contact .texto {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .contact form {
    margin: 20px auto;
  }
  main .contact form .form__container .form__flex-item label {
    font-size: 1.2rem;
  }
  main .contact form .form__container .form__flex-item input, main .contact form .form__container .form__flex-item textarea {
    font-size: 1.2rem;
  }
  main .contact form .form__container .form__flex-item button {
    font-size: 1.2rem;
  }
  footer .contenedor .container__flex {
    align-items: start;
  }
  footer .contenedor .container__flex .footer__item {
    width: 31%;
  }
  footer .contenedor .container__flex .footer__item .mini-titulo {
    font-size: 1.3rem;
  }
  footer .contenedor .container__flex .footer__item .mini-titulo::after {
    content: "";
    display: none;
  }
  footer .contenedor .container__flex .footer__item .mini-titulo::before {
    content: "";
    display: none;
  }
  footer .contenedor .container__flex .footer__item .footer-icon, footer .contenedor .container__flex .footer__item .footer-contact, footer .contenedor .container__flex .footer__item a {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  footer .contenedor .copy {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  main .service .service__container {
    gap: 40px;
  }
  main .service .service__container .service-item .sub-titulo {
    font-size: 2rem;
  }
  main .service .service__container .service-item .texto {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .service .service__container .service-item ol li {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .service .service__container .service-item a {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .contact .titulo {
    font-size: 2.6rem;
  }
  main .contact .texto {
    font-size: 1.5rem;
    line-height: 30px;
  }
  main .contact form {
    height: 69dvh;
    margin: 20px auto;
  }
  main .contact form .form__container {
    height: 100%;
  }
  main .contact form .form__container .form__flex-item {
    width: 40%;
    padding: 0px 10px;
    height: 100%;
  }
  main .contact form .form__container .form__flex-item label {
    font-size: 1.2rem;
  }
  main .contact form .form__container .form__flex-item input, main .contact form .form__container .form__flex-item textarea {
    width: 100%;
    font-size: 1.2rem;
  }
  main .contact form .form__container .form__flex-item textarea {
    height: 56%;
  }
  main .contact form .form__container .form__flex-item button {
    width: 50%;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=estilos.css.map */