.contenedor {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.container__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  align-content: center;
}

.max-titulo, .titulo, .sub-titulo, .mini-titulo {
  font-family: sans-serif;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.texto, a, span, li, input, label, strong, i, b, em {
  font-family: sans-serif;
  font-size: 1em;
  word-wrap: break-word;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.max-titulo {
  font-size: 2.5em;
}

.titulo {
  font-size: 2em;
}

.sub-titulo {
  font-size: 1.5em;
}

.mini-titulo {
  font-size: 1em;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

header {
  width: 45px;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgb(19, 19, 19);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
}
header:hover {
  width: 260px;
}
header:hover .sideMenu .sideMenuimg {
  opacity: 1;
}
header:hover .sideMenu .sideMenu__contact {
  opacity: 1;
}
header:hover .sideMenu .sideMenuimg .texto {
  opacity: 1;
}
header:hover .sideMenu .sideMenuimg img {
  opacity: 1;
}
header .sideMenu {
  display: flex;
  width: 100%;
  margin: auto;
  height: 100dvh;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
header .sideMenu .sideMenuimg {
  width: 90%;
  max-width: 100%;
  margin: auto;
  height: auto;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}
header .sideMenu .sideMenuimg img {
  width: 110px;
  height: 110px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
header .sideMenu .sideMenuimg .texto {
  text-align: center;
  font-size: 0.9rem;
  margin: 8px auto;
  color: rgba(255, 255, 255, 0.3333333333);
  text-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}
header .sideMenu .menu {
  width: 100%;
  height: 50%;
  margin: auto;
  overflow: hidden;
}
header .sideMenu .menu .menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: space-around;
  gap: 0.7rem;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: overflow-y 0.3s;
}
header .sideMenu .menu .menu__list::-webkit-scrollbar {
  width: 12px;
}
header .sideMenu .menu .menu__list::-webkit-scrollbar-track {
  background-color: transparent;
}
header .sideMenu .menu .menu__list::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(255, 255, 255, 0.8); /* creates padding around scroll thumb */
}
header .sideMenu .menu .menu__list .menu__list-item {
  list-style: none;
  align-self: center;
  width: 100%;
  height: auto;
  padding-left: 5px;
}
header .sideMenu .menu .menu__list .menu__list-item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 100;
  text-transform: capitalize;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
  padding: 10px 10px;
  border-radius: 35px 0px 0px 35px;
}
header .sideMenu .menu .menu__list .menu__list-item a:hover {
  background-color: rgb(0, 0, 0);
}
header .sideMenu .menu .menu__list .menu__list-item a i {
  font-size: 1.4rem;
  margin-right: 14px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8666666667);
}
header .sideMenu .sideMenu__contact {
  width: 100%;
  margin: auto;
  padding-top: 10px;
  opacity: 0;
  transition: display 0.3s;
  text-wrap: nowrap;
}
header .sideMenu .sideMenu__contact a {
  font-size: 1rem;
  display: block;
  margin: auto;
  width: 85%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3333333333);
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
header .sideMenu .sideMenu__contact a i {
  margin-right: 5px;
}

main {
  margin-left: 50px;
}/*# sourceMappingURL=estilos.css.map */