@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color__negro: rgb(0, 0, 0); 
$color__dorado: rgb(141, 94, 0);
$color__blanco: rgb(255, 255, 255);
$color__dorado2: #753f00;
$color__gris: rgb(255,255,255, .8);

.contenedor {
    width: 100%;
    margin: auto;
    max-width: 1200px;
}

.container__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    align-content: center;
}



.max-titulo, .titulo, .sub-titulo, .mini-titulo {
    font-family:sans-serif;
    word-wrap: break-word;
    user-select: none;
  } 
  
  .texto, a, span, li, input, label, strong, i, b, em {
    font-family: sans-serif;
    font-size: 1em;
    word-wrap: break-word;
    user-select: none;
  }
  
  .max-titulo {
    font-size: 2.5em;
  }
  .titulo {
    font-size: 2em;
  }
  .sub-titulo {
    font-size: 1.5em;
  }
  .mini-titulo {
    font-size: 1em;
  }

html {
    scroll-behavior: smooth;
}

body {
    
    background-color: $color__negro;
    color: $color__blanco;
}
 

header {
    width: 45px;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    background-color:$color__negro;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width .3s ease;
    &:hover {
        width: 240px;
    }

    &:hover .sideMenu .sideMenuimg  {
        opacity: 1;
    }
    &:hover .sideMenu .sideMenu__contact  {
        opacity: 1;
    }
    &:hover .sideMenu .sideMenuimg .texto {
        opacity: 1;
    }
    &:hover .sideMenu .sideMenuimg img {
        opacity: 1;
    }
    .sideMenu {
        display: flex;
        width: 100%;
        margin: auto;
        height: 100dvh;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        .sideMenuimg {
            width: 90%;
            max-width: 100%;
            margin: auto;
            height: auto;
            padding: 5px;
            border-bottom: 1px solid #fff3;
            opacity: 0;
            transition: opacity .3s;
            img {
                width: 110px;
                height: 110px;
                margin: auto;
                object-fit: cover;
                border-radius: 100%;
                opacity: 0;
                transition: opacity .3s;
            }
            .texto {
                text-align: center;
                font-size: .9rem;
                margin: 8px auto;
                color: #fff5;
                text-wrap: nowrap;
                opacity: 0;
                transition: opacity .3s;
            }
        }
        .menu {
            width: 100%;
            height: 50%;
            margin: auto;
            overflow: hidden;
            .menu__list {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                align-content: space-around;
                gap: .7rem;
                overflow-y: hidden;
                overflow-x: hidden;
                transition: overflow-y .3s;
                &::-webkit-scrollbar {
                    width: 12px;
                }
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color__negro;    /* color of the scroll thumb */
                    border-radius: 20px;       /* roundness of the scroll thumb */
                    border: 3px solid $color__gris;  /* creates padding around scroll thumb */
                }
                .menu__list-item {
                    list-style: none;
                    align-self: center;
                    width: 100%;
                    height: auto;
                    padding-left: 5px;
                    a {
                    color: $color__blanco;
                    text-decoration: none;
                    font-weight: 100;
                    text-transform: capitalize;
                    transition: background-color .3s;
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-wrap: nowrap;
                    padding: 10px 10px;
                    border-radius: 35px 0px 0px 35px;
                        &:hover {
                            background-color: #fff2;
                        }
                        i {
                            font-size: 1.4rem;
                            margin-right: 14px;
                            text-shadow: 0px 0px 10px #fffd;
                        }
                    }
                }
            }
        }
        .sideMenu__contact {
            width: 100%;
            margin: auto;
            padding-top: 10px;
            opacity: 0;
            transition: display .3s;
            text-wrap: nowrap;
            a {
                font-size: 1rem;
                display: block;
                margin: auto;
                width: 85%;
                text-decoration: none;
                color: #fff5;
                padding-top: 10px;
                border-top: 1px solid #fff3;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

main {
    margin-left: 45px;
    .banner {
        background-color: $color__negro;
        width: 100%;
        height: 100dvh;
        margin: auto;
        position: relative;
        .banner__section-img {
            width: 90%;
            height: 85%;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
            }
        }
        &::before {
            content: '';
            width: 90%;
            height: 85%;
            margin: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0,0,0,.7);
            z-index: 100;
        }
        .banner__section-txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 83%;
            z-index: 200;
            border: 4px double rgb(141, 94, 0, .5);
            padding: 10px auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            align-content: center;

                .max-titulo {
                    font-size: 3rem;
                    margin-bottom: 10px;
                    font-family: "Pt Serif", serif;
                    font-weight: 200;
                    text-transform: capitalize;
                    font-style: normal; 
                    width: 100%;
                }
                .titulo {
                    font-size: 2.1rem;
                    margin-bottom: 10px;
                    font-family: "Pt Serif", serif;
                    font-weight: 200;
                    font-style: normal; 
                    text-transform: capitalize;
                    width: 100%;
                }
        }

    }
    .aboutUs {
        padding-left: 0px;
        margin: auto;
        margin-top: 25px;
        width: 100%;
        height: auto;
        .titulo {
            margin-left: 5px;
            margin-bottom: 15px;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            text-wrap: pretty;
            padding-bottom: 10px;
            &::after {
                content: '';
                position: absolute;
                width: 30%;
                max-width: 100px;
                height: 3px;
                border-radius: 100px;
                background-color: $color__dorado;
                bottom: 0;
                left: 0;
            }
            &::before {
                content: '';
                position: absolute;
                width: 70%;
                max-width: 400px;
                height: 3px;
                border-radius: 100px;
                background-color: rgb(141, 94, 0, .4);
                bottom: 0;
                left: 0;
            }
        }
        .aboutUs__info {
            padding: 5px;
            width: 100%;
            margin: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            .aboutUs__img {
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 10px;
                background-color: #fff1;
                position: relative;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    max-width: 400px;
                    height: 250px;
                    object-fit: cover;
                    object-position: center;
                    filter: blur(6px);
                    transition: filter .3s;
                    &:hover {
                        filter: blur(0px);
                    }
                }
            }
            .aboutUs__txt {
                position: relative;
                .sub-titulo {
                    margin-bottom: 8px;
                    text-transform: capitalize;
                    text-align: left;
                }
                .texto {
                    text-align: left;
                    line-height: 22px;
                    margin-bottom: 20px;
                    strong {
                        text-shadow: 1px 2px 7px $color__blanco;
                    }
                }
                a {
                    margin-top: -20px;
                    text-decoration: none;
                    color: $color__blanco;
                    background-color: $color__dorado2;
                    padding: 5px 10px;
                    border-radius: 5px;
                    text-transform: capitalize;
                    font-weight: 700;
                    transition: background-color .3s;
                    border: 1px solid $color__blanco;
                    &:hover {
                        background-color: #753f00ab;
                    }
                }
            }
        }
    }
    .gallery {
        margin-top: 25px;
        background-color: rgb(141, 94, 0,.1);
        padding-left: 10px;
        .titulo {
            margin-bottom: 15px;
            padding-top: 10px;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            text-wrap: pretty;
            padding-bottom: 10px;
            &::after {
                content: '';
                position: absolute;
                width: 30%;
                max-width: 100px;
                height: 3px;
                border-radius: 100px;
                background-color: $color__dorado;
                bottom: 0;
                left: 0;
            }
            &::before {
                content: '';
                position: absolute;
                width: 70%;
                max-width: 400px;
                height: 3px;
                border-radius: 100px;
                background-color: rgb(141, 94, 0, .4);
                bottom: 0;
                left: 0;
            }
        }
        .texto {
            line-height: 22px;
            margin-bottom: 15px;
        }
        .swiper {
            &:hover {
                z-index: 8001;
            }
            .gallery__slider {
                overflow: hidden;
                max-width: 1200px;
                margin: 0 70px 55px;
                .gallery__modal {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    width: 100dvw;
                    max-width: 100%;
                    height: 100dvh;
                    background-color: #000d;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 300;
                    overflow: hidden;
                    transition: 1s;
                    opacity: 0;
                        i.close {
                            position: absolute;
                            top: 10px;
                            right: 14px;
                            display: block;
                            font-size: 1.7rem;
                            cursor: pointer;
                            transition: color .5s;
                            z-index: 100;
                            opacity: 0;
                            &:hover {
                                color: $color__gris;
                            }
                        }
                    i.left {
                        position: absolute;
                        top: 50%;
                        left: 5px;
                        display: block;
                        font-size: 1.7rem;
                        cursor: pointer;
                        color: $color__dorado;
                        transition: color .5s;
                        z-index: 100;
                        opacity: 0;
                        &:hover {
                            color: $color__dorado2;
                        }
                    }
                    i.right {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        display: block;
                        font-size: 1.7rem;
                        cursor: pointer;
                        z-index: 10000000;
                        color: $color__dorado;
                        transition: color .5s;
                        opacity: 0;
                        &:hover {
                            color: $color__dorado2;
                        }
                    }
                    .titulo {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        font-weight: 100;
                        opacity: 0;
                    }
                    .img-modal {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 80%;
                        height: 80%;
                        object-fit: contain;
                        object-position: center;
                        opacity: 0;
                    }
                }
                .active {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                }  
                .active i.close, 
                .active i.left,
                .active i.right,
                .active .titulo, 
                .active .img-modal {
                    opacity: 1;
                    transition: opacity .5s;
                    transition-delay: 1s;
                }
                .gallery__container {
                    // height: auto;
                    // margin: auto;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // align-content: center;
                    // flex-direction: row;
                    // gap: 1rem;
                    .gallery__item {
                        position: relative;
                        user-select: none;
                        height: 200px;
                        z-index: 10;
                        background-color: rgba(0,0,0,0.4);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            filter: grayscale(1);
                            opacity: .6;
                            transition: filter .3s;
                            transition: opacity .3s;
                            &:hover {
                                opacity: 1;
                                filter: grayscale(0);
                            }
                        }
                    }
                }
                .swiper-button-next, .swiper-button-prev {
                    color: $color__dorado2;
                    z-index: 10;
                }
                .swiper-pagination-bullet-active {
                    background-color: $color__dorado2;
                }
                .swiper-pagination-bullet {
                    background-color: #fff8;
                }
            }
        }
    }
    .service {
        width: 100%;
        margin-top: 25px;
        height: auto;
        margin: auto;
        padding: 9px;
        .titulo {
            margin-bottom: 15px;
            text-transform: uppercase;
            position: relative;
            text-wrap: pretty;
            
            padding-bottom: 10px;
            &::after {
                content: '';
                position: absolute;
                width: 30%;
                max-width: 100px;
                height: 3px;
                border-radius: 100px;
                background-color: $color__dorado;
                bottom: 0;
                left: 0;
            }
            &::before {
                content: '';
                position: absolute;
                width: 70%;
                max-width: 400px;
                height: 3px;
                border-radius: 100px;
                background-color: rgb(141, 94, 0, .4);
                bottom: 0;
                left: 0;
            }
        }
        .texto {
            line-height: 22px;
            margin-bottom: 15px;
        }
        .service__container {
            width: 100%;
            margin: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: start;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 22px;
            .service-item {
                width: 100%;
                height: 330px;
                overflow: hidden;
                padding: 8px;
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 6px;
                border-radius: 10px;
                position: relative;
                interpolate-size: allow-keywords;
                transition: box-shadow .6s;
                transition: height .6s;
            &:has(input[type="checkbox"]:checked) {
                interpolate-size: allow-keywords;
                height: auto;
                box-shadow: none;
            }
            &:has(input[type="checkbox"]:checked) .window-shadow {
                 width: 0;
                background-image: none;
                height: 0;
            }
            &:has(input[type="checkbox"]:checked) .arrow {
                transform: rotate(-30deg);
           }
                .window-shadow {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(to bottom,#3335, #000f);
                    z-index: 100;
                    transition: background-image .6s;
                    transition: height .6s;
                }

                // &:hover i.arrow {
                //     transform: rotate(180deg);
                // }
                .arrow {
                    z-index: 150;
                    position: absolute;
                    right: 10px;   
                    top: 10px;                 
                    font-size: 1.4rem;
                    padding: 4px;
                    cursor: pointer;
                    background-color: #753e0086;
                    border-radius: 100%;
                    color: $color__gris;
                    transition: transform .3s;                
                }
                input[type="checkbox"] {
                    position: absolute;
                    z-index: 150;
                    display: none;
                    width: 100%;
                }
                .sub-titulo {
                    color: $color__dorado2;
                    margin-bottom: 15px;
                    text-transform: capitalize;
                    font-weight: bolder;
                    position: relative;
                    font-weight: 600;
                    padding-bottom: 9px;
                    &::before {
                        content: '';
                        width: 35%;
                        max-width: 180px;
                        border-radius: 3px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        box-shadow: 3px 0px 5px 3px #753e009f;
                    }
                }
                .texto {
                    strong {
                        text-shadow: 3px 0px 6px #fff;
                    }
                }
                ol {
                    margin-left: 15px;
                    li {
                        width: 100%;
                        margin-bottom: 7px;
                        line-height: 22px;
                        i {
                            font-weight: 700;
                            color: $color__dorado;
                        }
                    }
                }
                a {
                    display: inline-block;
                    margin: 10px auto;
                    background-color: #753f00;
                    padding: 10px 6px;
                    border-radius: 5px;
                    color: $color__blanco;
                    text-decoration: none;
                    text-transform: capitalize;
                   transition: box-shadow .3s;
                   &:hover {
                    box-shadow: 0px 0px 10px 5px #753f00;
                   }
                }
            }
        }
    }
    .contact {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 9px;
        margin-top: 20px;
        .titulo {
            margin-bottom: 15px;
            text-transform: uppercase;
            position: relative;
            text-wrap: pretty;
            font-size: 1.9rem;
            padding-bottom: 10px;
            &::after {
                content: '';
                position: absolute;
                width: 30%;
                max-width: 100px;
                height: 3px;
                border-radius: 100px;
                background-color: $color__dorado;
                bottom: 0;
                left: 0;
            }
            &::before {
                content: '';
                position: absolute;
                width: 70%;
                max-width: 400px;
                height: 3px;
                border-radius: 100px;
                background-color: rgb(141, 94, 0, .4);
                bottom: 0;
                left: 0;
            }
        }
        .texto {
            line-height: 22px;
            margin-bottom: 15px;
        }
        form {
            width: 100%;
            margin: auto;
          box-shadow: 0px 0px 22px 7px #fff2;
            padding: 10px;
                .form__container {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    align-content: start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 12px;
                    .form__flex-item {
                        width: 100%;
                        label {
                            font-family: sans-serif;
                            text-transform: capitalize;
                            font-weight: 100;
                            letter-spacing: 1px;
                            display: block;
                            margin: 8px auto;
                            color: #fff9;
                        }
                        input, textarea, select {
                            background-color: transparent;
                            width: 200px;
                            outline: none;
                            border: none;
                            font-family: sans-serif;
                            border-bottom: 1px solid $color__blanco;
                            field-sizing: content;
                            resize: none;
                            margin: auto;
                            padding: 8px 0px;
                            margin-bottom: 15px;
                            color: $color__blanco;
                            transition: border-bottom .5s;
                            &::placeholder {
                                text-transform: uppercase;
                                font-size: .7rem;
                            }
                            &:focus, &:valid {
                                border-bottom: 1px solid $color__dorado2;
                                transition: all .3s;
                              }
                              option, optgroup {
                                background-color: $color__negro;
                                width: 200px;
                                outline: none;
                                border: none;
                                font-family: sans-serif;
                                border-bottom: 1px solid $color__blanco;
                                field-sizing: content;
                                resize: none;
                                margin: auto;
                                padding: 8px 0px;
                                margin-bottom: 15px;
                                color: $color__blanco;
                                border: none;
                                outline: none;
                                transition: background-color .5s;
                               &:hover {
                                background-color: $color__dorado;
                               }
                              }
                              optgroup {
                                background-color: #452501e9;
                              }
                              .first-option {
                                color: #fff3;
                              }
                        }

                        button {
                            display: block;
                            width: auto;
                            height: auto;
                            margin: auto;
                            border-radius: 9px;
                            font-family: sans-serif;
                            font-size: 1rem;
                            padding: 7px 12px;
                            background-color: #452501;
                            color: $color__blanco;
                            border: none;
                            margin-top: 12px;
                            font-weight: bold;
                            transition: all .4s;
                            &:hover {
                                background-color: #231300;
                            }
                        }
                        #warning {
                            position: fixed;
                            z-index: 500000000;
                            height: 100dvh;
                            width: 100dvw;
                            top: 0;
                            left: 0;
                            background-color: #0003;
                            backdrop-filter: blur(20px);
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            .modal {
                                width: 40%;
                                max-width: 500px;
                                height: auto;
                                text-align: center;
                                background-color: #fff4;
                                .modal__ex {
                                    width: 100%;
                                    height: 30px;
                                    background-color: #0003;
                                    position: relative;
                                    padding: 20px 0px;
                                    i {
                                        bottom: 1px;
                                        position: absolute;
                                        right: 10px;
                                        color: $color__blanco;
                                        cursor: pointer;
                                        padding: 2px;
                                        border-radius: 3px;
                                      
                                    }
                                }

                                i {
                                    display: block;
                                    padding: 5px;
                                    font-size: 1.7rem;
                                    color: $color__blanco;
                                }
                                span {
                                    display: block;
                                    padding: 10px auto;
                                    padding-bottom: 20px;
                                    font-size: 1.4rem;
                                    font-family: sans-serif;
                                    color: $color__blanco;
                                }
                            }
                        }
                    }
                }
            
        }
    }
}

footer {
    margin-top: 25px;
    margin-left: 45px;
    height: auto;
    background-image: linear-gradient(#000,  rgba(150, 75, 0, 0.21));
    .contenedor {
        width: 95%;
        margin: auto;
        text-align: center;
        .container__flex {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            gap: 20px;
            padding: 8px;
            .footer__item {
                width: 100%;
                .mini-titulo {
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    position: relative;
                    padding-bottom: 10px;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        border-radius: 5px;
                        background-color: $color__dorado2;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                    }
                    &::before {
                        content: '';
                        width: 40%;
                        height: 2px;
                        border-radius: 5px;
                        background-color: $color__dorado;
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
                .footer-icon, .footer-contact, a {
                    display: block;
                    width: 100%;
                    margin-bottom: 5px;
                }
                .footer-icon, a {
                    text-decoration: none;
                    color: $color__blanco;
                    letter-spacing: 1px;
                    transition: color .3s;
                    &:hover {
                        color: #fffa;
                    }
                }
                .footer-contact {
                    letter-spacing: 2px;
                }
            }
        }
        .copy {
            width: 100%;
            font-family: sans-serif;
            text-align: center;
            padding: 10px 5px;
        }
        
    }
}
// ---------------MEDIDAS RESOPONSIVE-----------------
@media screen and (min-width: 360px) {
main {
    .service {
        .service__container {
            .service-item {
                .arrow {
                    right: 10px;   
                    top: 30px;                 
                }
            }
        }
    }
    .contact {
        form {
                .form__container {
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    
                    .form__flex-item {
                        label {
                            font-size: 1.1rem;
                        }
                        input, textarea, select {
                            display: block;
                            background-color: transparent;
                            width: 75dvw;
                            outline: none;
                            border: none;
                            font-family: sans-serif;
                            border-bottom: 1px solid $color__blanco;
                            field-sizing: content;
                            resize: none;
                            padding: 8px 0px;
                            margin-bottom: 15px;
                            color: $color__blanco;
                            transition: border-bottom .5s;
                            &::placeholder {
                                text-transform: uppercase;
                                font-size: .7rem;
                            }
                            &:focus, &:valid {
                                border-bottom: 1px solid $color__dorado2;
                                transition: all .3s;
                              }
                        }
                        button {
                            display: block;
                            width: auto;
                            height: auto;
                            margin: auto;
                            border-radius: 9px;
                            font-family: sans-serif;
                            font-size: 1rem;
                            padding: 7px 12px;
                            background-color: #452501;
                            color: $color__blanco;
                            border: none;
                            margin-top: 12px;
                            font-weight: bold;
                            transition: all .4s;
                            &:hover {
                                background-color: #231300;
                            }
                        }
                    }
                }
            
        }
    }
}
}

@media screen and (min-width: 480px) {
 main {
    .banner {
        background-color: $color__negro;
        width: 100%;
        height: 100dvh;
        margin: auto;
        position: relative;
        .banner__section-img {
            img {
                object-position: left;
            }
        }
        .banner__section-txt {
            padding: 10px;
                .max-titulo {
                    font-size: 5rem;
                    margin-bottom: 10px;
                    font-family: "Pt Serif", serif;
                    font-weight: 200;
                    text-transform: capitalize;
                    font-style: normal; 
                    width: 100%;
                }
                .titulo {
                    font-size: 3rem;
                    margin-bottom: 10px;
                    font-family: "Pt Serif", serif;
                    font-weight: 200;
                    font-style: normal; 
                    text-transform: capitalize;
                    width: 100%;
                }
        }

    }
    .aboutUs {
        .titulo {
            font-size: 2.3rem;
        }
        .aboutUs__info {
            .aboutUs__img {
                border: 5px solid #753e00a1;
                position: relative;
                img {
                    height: 300px;
                }
            }
            .aboutUs__txt {
                position: relative;
                .sub-titulo {
                    font-size: 1.7rem;
                }
                .texto {
                    font-size: 1.2rem;
                    line-height: 25px;
                }
                a {
                    font-size: 1.2rem;
                    line-height: 25px;
                }
            }
        }
    }
    .gallery {
        .titulo {
            font-size: 2.3rem;
        }
        .texto {
            line-height: 25px;
            font-size: 1.2rem;
        }
    }
    .service {
        .titulo {
            font-size: 2.3rem;
        }
        .texto {
            line-height: 25px;
            font-size: 1.2rem;
        }
        .service__container {
            .service-item {
                // &:hover i.arrow {
                //     transform: rotate(180deg);
                // }
                .sub-titulo {
           font-size: 1.7rem;
                }
                .texto {
                   font-size: 1.2rem;
                   line-height: 25px;
                }
                ol {
                    li {
                        font-size: 1.2rem;
                        line-height: 25px;
                    }
                }
                a {
                    font-size: 1.2rem;
                    line-height: 25px;
                }
            }
        }
    }
    .contact {
        .titulo {
          font-size: 2.3rem;
        }
        .texto {
            font-size: 1.2rem;
            line-height: 25px;
        }
        form {
 
                .form__container {
                    .form__flex-item {
                        label {
                            font-size: 1.2rem;
                        }
                        input, textarea, select {
                           font-size: 1.2rem;
                        }
                        button {
                            font-size: 1.2rem;
                        }
                    }
                }
            
        }
    }
 }
 footer {
    .contenedor {
        .container__flex {
            .footer__item {
                
                .mini-titulo {
                    font-size: 1.2rem;
                }
                .footer-icon, .footer-contact, a {
                    display: block;
                    width: 100%;
                    margin-bottom: 5px;
                    font-size: 1.2rem;
                }
            }
        }
        .copy {
            font-size: 1.2rem;
        }
        
    }
}
}

// font-size: 1.2rem;
// line-height: 25px;

@media screen and (min-width: 768px) {
  main {
    .banner {
        .banner__section-img {
            img {
                object-fit: cover;
            }
        }
        .banner__section-txt {
            padding: 10px;
                .max-titulo {
                    font-size: 8rem;
                }
                .titulo {
                    font-size: 3.2rem;
                }
        }

    }
    .aboutUs {
        .titulo {
            // font-size: 2.6rem;
        }
        .aboutUs__info {
            align-content: center;
            &:nth-child(2) {
                .aboutUs__img {
                    order: 2;
                }
            }
            .aboutUs__img {
                width: 45%;
                height: 80dvh;
                img {
                    display: block;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                }
            }
            .aboutUs__txt {
                width: 50%;
                position: relative;
                .sub-titulo {
                    // font-size: 2rem;
                }
                .texto {
                    // font-size: 1.5rem;
                    // line-height: 30px;
                }
                a {
                    // font-size: 1.5rem;
                    // line-height: 30px;
                }
            }
        }
    }
    .gallery {
        .titulo {
            // font-size: 2.6rem;
        }
        .texto {
            padding: 8px;
            // font-size: 1.5rem;
            //         line-height: 30px;
        }
    }
    .service {
        .titulo {
            // font-size: 2.6rem;
        }
        .texto {
            // font-size: 1.5rem;
            // line-height: 30px;
            margin-bottom: 25px;
        }
        .service__container {
            gap: 30px;
            .service-item {
                width: 45%;
                // &:hover i.arrow {
                //     transform: rotate(180deg);
                // }
                .sub-titulo {
        //    font-size: 2rem;
                }
                .texto {
                    // font-size: 1.5rem;
                    // line-height: 30px;
                }
                ol {
                    li {
                        // font-size: 1.5rem;
                        // line-height: 30px;
                    }
                }
                a {
                    // font-size: 1.5rem;
                    // line-height: 30px;
                }
            }
        }
    }
    .contact {
        .titulo {
            // font-size: 2.6rem;
        }
        .texto {
            // font-size: 1.5rem;
            // line-height: 30px;
        }
        form {
            margin: 20px auto;
                .form__container {
                    .form__flex-item {
                        // label {
                        //     font-size: 1.2rem;
                        // }
                        // input, textarea {
                        //    font-size: 1.2rem;
                        // }
                        // button {
                        //     font-size: 1.2rem;
                        // }
                    }
                }
            
        }
    }
  }
  footer {
    .contenedor {
        .container__flex {
            align-items: start;
            .footer__item {
                width: 31%;
                .mini-titulo {
                    // font-size: 1.3rem;
                    &::after {
                        content: '';
                        display: none;
                    }
                    &::before {
                        content: '';
                        display: none;
                    }
                }
                .footer-icon, .footer-contact, a {
                    display: block;
                    width: 100%;
                    margin-bottom: 5px;
                    // font-size: 1.2rem;
                }
            }
        }
        .copy {
            font-size: 1.2rem;
        }
        
    }
}
}

@media screen and (min-width: 1024px) {
    main {
        .service {
            .service__container {
                gap: 40px;
                .service-item {
                   
                    // &:hover i.arrow {
                    //     transform: rotate(180deg);
                    // }
                    .sub-titulo {
            //    font-size: 2rem;
                    }
                    .texto {
                        // font-size: 1.5rem;
                        // line-height: 30px;
                    }
                    ol {
                        li {
                            // font-size: 1.5rem;
                            // line-height: 30px;
                        }
                    }
                    a {
                        // font-size: 1.5rem;
                        // line-height: 30px;
                    }
                }
            }
        }
        .contact {
            // .titulo {
            //     font-size: 2.6rem;
            // }
            // .texto {
            //     font-size: 1.5rem;
            //     line-height: 30px;
            // }
            form {

                margin: 20px auto;
                   
                    .form__container {
                        height: 100%;
                        align-items: stretch;
                        .form__flex-item {
                            width: 40%;
                            padding: 0px 10px;
                            height: 100%;
                            // label {
                            //     font-size: 1.2rem;
                            // }
                            input, textarea, select {
                                width: 100%;
                               font-size: 1.2rem;
                            }
                            // textarea {
                            //     height: 56%;
                            // }
                            // button {
                            //     width: 50%;
                            //     font-size: 1.2rem;
                            // }
                        }
                    }
                
            }
        }
    }
}

@media screen and (min-width: 1600px) {
  
}